button{
    border: none;
    background-color: #07090f;
    font-size: 24px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
button:hover{
    background-color: #98473e;
}
.equals{
    background-color: aqua;
}
.equals:hover{
    background-color: blue;
}