@import url('../App.css');
.output-screen{
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #a37c40;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    box-sizing: border-box;

}