:root{
  --primary:#1d3557;
  --secondary:#8c38ff;
  --dark:#1d3557;
  --light:#a8dadc;
}

*{
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
/* @font-face {
  font-family: 'Kegilka';
  src: local('Kegilka'),
  url('./fonts/Kegilka-Font/Kegilka.ttf') format('truetype');
}
@font-face {
  font-family:'Helvetica' ;
  src:local('Helvetica')
   url('./fonts/Helvetica-Font') format('truetype');
} */


body{
  background-color: var(--light);
  /* height: 100vh;
  display: flex;
   */
}

.App{
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator{
  width: 100%;
  /* max-width: 400px; */
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18); 
}
.display{
  padding: 16px;
  background-color: var(--dark);
  text-align: right;
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}
.display span{
  font-size: 14px;
  color: #aaa;
}
button{
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  opacity: 0.9;
}

.operators {
  display: flex;
}
.operators button{
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;
}
.digits button{
  flex: 1 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}