:root{
  --primary:#1d3557;
  --secondary:#8c38ff;
  --dark:#1d3557;
  --light:#a8dadc;
}

*{
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  font-family:  Helvetica;
  text-align: center;
}
/* @font-face {
  font-family: 'Kegilka';
  src: local('Kegilka'),
  url('./fonts/Kegilka-Font/Kegilka.ttf') format('truetype');
}
@font-face {
  font-family:'Helvetica' ;
  src:local('Helvetica')
   url('./fonts/Helvetica-Font') format('truetype');
} */


body{
  background-color: var(--light);
  height: 100vh;
  justify-content: center;
  align-items: center;
  
}

 .App{
  height: 500px;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator{
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-color: var(--dark);
  display: grid;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18); 
  grid-template-rows: repeat(5,  1fr);
}


.display{
  padding: 16px;
  background-color: var(--dark);
  text-align: right;
  color: var(--light);
  font-size: 24px;
  font-weight: bold;
}
/*
.display span{
  font-size: 14px;
  color: #aaa;
}
button{
  display: grid;
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  opacity: 0.9;
}

.operators {
  display: grid;
}
.operators button{
  
  background-color: var(--primary);
  font-weight: 700;
}

.digits{
  display: grid;
  
}
.digits button{

  background-color: var(--dark);
} */